<tr id="<%= dom_id(domain_name) %>" class="border-b border-gray-200 hover:bg-gray-100">

  <td class="px-3 text-left">
    <p class="text-xs break-words"><%= domain_name.domain %></p>
  </td>

  <td class="px-3 text-right">
    <p class="text-xs break-words"><%= domain_name.created_at %></p>
  </td>

</tr>