<tr id="<%= dom_id(ip_address) %>" class="border-b border-gray-200 hover:bg-gray-100">

  <td class="px-3 text-left">
    <p class="text-xs break-words"><%= ip_address.ip %></p>
  </td>

  <td class="px-3 text-right">
    <p class="text-xs break-words"><%= ip_address.created_at %></p>
  </td>

</tr>